---
---
// Variables
$navHeight: 70px;

// Globals
html {
    padding: env(safe-area-inset);
}

* {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

section {
    min-height: 100vh;
}

.heading {
    font-size: 4em;
    font-weight: 300;
    margin: 0px;

    padding: 120px 0px ;
    text-align: center;
}

// Nav
nav {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: $navHeight;
    background-color: rgba(255, 188, 111, 0.5);
}

nav span {
    font-family: 'Fugaz One', cursive;
    float: left;

    line-height: $navHeight;
    padding-left: 20px;
    font-size: 25px;
}

nav .socials{
    float: right;

    a {
        margin-right: 17px;
    }
    img {
        height: 40px;
        transition: transform 300ms;
        
        &:hover {
            transform: translate(0, -7px);
        }
    }
    
}

// Landing section
#landing_heading {
    font-size: 4em;
    color: #2c2c2c;
}

#landing_heading span {
    font-family: 'Fugaz One', cursive;
    color: #ff1e00;
    text-shadow: 5px 5px 10px #fd6363
}
#landing_description {
    font-size: 2em;
    line-height: 1.5;
    color: #2c2c2c;
}

#landing_text {
    position: absolute;
    top: 30%;
    left: 5%;
}

.socials {
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;

    a {
        margin-right: 17px;
    }
    img {
        height: 40px;
        transition: transform 300ms;
        
        &:hover {
            transform: translate(0, -7px);
        }
    }
}

// Projects Section
#projects {
    padding: 0px 50px;
    padding-bottom: 50px;
}

#projects_wrapper {
    display: grid;
    justify-content: center;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#project_wrapper {
    position: relative;
    text-align: center;
    box-shadow: 3px 3px 5px 6px #e2e2e2;
    padding: 15px;
    padding-bottom: 50px;
}

#project_wrapper h1 {
    height: 40px;
    overflow: hidden;
    font-weight: bold;
    text-transform: capitalize;
}

.project_img {
    width: 90%;
    cursor: pointer;
}

#project_modal_img {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50em;
    cursor: pointer;
}

.img_and_framework {
    position: relative;
}

.framework_img {
    position: absolute;
    right: 1em;
    top: 0;
    width: 50px;
    height: 50px;
    border: 3px solid rgba($color: #ffbb00, $alpha: 1);
    border-radius: 50%;
}

.project_btn {
    position: absolute;
    bottom: 10px;
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    display: block;
    width: 80px;
    background-color: #ffbb00;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;

    &:visited {
        color: black;
    }
}

.project_btn_demo {
    left: 20px;
}

.project_btn_gh {
    right: 20px;
}