<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Jack Gong</title>
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/normalise.css">
		<link rel="icon" type="image/png" href="{{site.baseurl}}/assets/img/favicon.png">

		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

		<!-- Google fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    </head>
    <body>
		{% include nav.html %}

        <section id="landing">
			<div class="socials">
				<a href="https://github.com/AwesomeJackify" target="_blank"><img src="{{site.baseurl}}/assets/img/icons/github.svg" alt="Github"/></a>
				<a href="https://www.instagram.com/jackifygong/" target="_blank"><img src="{{site.baseurl}}/assets/img/icons/instagram.svg" alt="Instagram"/></a>
				<a href="https://www.linkedin.com/in/jack-gong/" target="_blank"><img src="{{site.baseurl}}/assets/img/icons/linkedin.svg" alt="LinkedIn"/></a>
			</div>
			<div id="landing_text">
				<h1 id="landing_heading">Hi I'm <span>Jack Gong</span>;</h1>
				<h3 id="landing_description">Second year software engineering student at the University of Auckland.</h3>
			</div>
        </section>

		<section id="projects">
			<h1 class="heading">My Projects</h1>

			<div id="projects_wrapper">
				{% for post in site.posts %}
					{% include project.html header=post.title img=post.img framework=post.framework demo_url=post.demo_url github_url=post.github_url %}
				{% endfor %}
			</div>
		</section>
    </body>

	<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/three.r119.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/p5.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/vanta.fog.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/vanta.topology.min.js"></script>
    <script>
		VANTA.FOG({
			el: "#landing",
			mouseControls: true,
			touchControls: true,
			gyroControls: false,
			minHeight: 200.00,
			minWidth: 200.00,
			highlightColor: 0xff004b,
			midtoneColor: 0xffc200,
			lowlightColor: 0xefff00,
			baseColor: 0xffffeb,
			zoom: 0.40
		})
	</script>
	<script>
		if($(window).width()>=1000) {
			VANTA.TOPOLOGY({
			el: "#projects",
			mouseControls: false,
			touchControls: false,
			gyroControls: false,
			minHeight: 200.00,
			minWidth: 200.00,
			scale: 1.00,
			scaleMobile: 1.00,
			color: 0xf9d519,
			backgroundColor: 0xffffff
			})
		}
	</script>
	<script type="text/javascript" src="{{site.baseurl}}/assets/js/main.js"></script>
</html>